@import "../../styles/colors";

.container {
  display: flex;
  justify-content: center;

  .currentTemperature {
    font-size: 7rem;
    line-height: 1;
    color: $light-primary;
  }
  
  .subtext {
    color: $light-secondary;
    margin-left: .5rem;
    
    &:after {
      content: "\00b0";
    }
  }

  &.snowy, &.cloudy {
    span {
      color: $dark-primary;
    }

    .currentTemperature {
      color: $dark-primary;
    }

    .subtext {
      color: $dark-secondary;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: .75rem 0;

  span {
    flex: 1;

    font-size: 2rem;
    color: $light-primary;
    
    &:before {
      content: "\00b0";
    }
  }
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}