.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;

  & > a {
    font-size: 1.25rem;
    
    transition: filter .3s;

    &:nth-child(1), &:nth-child(4) {
      justify-self: flex-start;
    }
    &:nth-child(2), &:nth-child(5) {
      justify-self: center;
    }
    &:nth-child(3), &:nth-child(6) {
      justify-self: flex-end;
    }
    

    &:hover {
      filter: brightness(.75)
    }
  }
}