
.container {
  height: 100vh;

  padding: 1.5rem;
  background-color: #E0E0E0;
  
  animation: fade-in .5s;

  header {
    margin-top: 1.5rem;
    h1, h2 {
      text-transform: uppercase;
      text-align: center;
    }
    
    h1 {
      font-weight: 400;
    }
    h2 {
      font-size: 1.25rem;
      font-weight: 200;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 8rem;
      height: 8rem;
    }


    
    & > div {
      display: flex;

      & > div:first-child {
        // height: 6rem;
        span {
          position: relative;
          // display: inline-block;
          font-size: 6rem;
          line-height: 1;
          // height: 48px;
  
          // &:after {
          //   position: absolute;
          //   top: 1rem;
          //   right: -2rem;
          //   content: "C";
          //   font-size: 2rem;
          // }
        }
      }


      & > div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        span {
          flex: 1;
          font-size: 1.5rem;
        }
      }
    }
  }

  &.sunny {
    background-image: linear-gradient(#57CBDC, #3BA1B5);

    h1, h2 { 
      color: #ffffff;
    }
    
  }
  &.snowy {
    background-image: linear-gradient(#E0E0E0, #A6A6A6);

    h1, h2 { 
      color: #000000;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}


.loadingContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}