$sunny-primary: #ffffff;
$sunny-secondary: #B7E7EE;

$color-dark-gray: #6D6D6D;
$color-black: #1F1F1F;


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1rem 0;

  p {
    color: $sunny-primary;
  }

  span {
    &:before {
      content: "\00b0";
    }
  }

  &.snowy {
    p {
      color: $color-black;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: .25rem;
}