@import "../../styles/colors";


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;

  p {
    color: $light-secondary;
    
    &.temp {
      font-size: 1.25rem;
      color: $light-primary;
    }
  }

  span {
    &:before {
      content: "\00b0";
    }
  }

  &.snowy, &.cloudy {
    
    p {
      color: $dark-secondary;

      &.temp {
        font-size: 1.25rem;
        color: $dark-primary;
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}