@import "../../styles/colors";

.container {
  display: flex;

  p {
    color: $light-primary;

    &.label {
      color: $light-secondary;
    }
  }

  &.snowy, &.cloudy {
    p {
      color: $dark-primary;
  
      &.label {
        color:  $dark-secondary;
      }
    }

    & > div  {
      &:before {
        background-color: $dark-secondary;
      }
    }
  }

  & > div {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    
    & + div {
      &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: "";
        width: 1px;
        height: 1.5rem;
        background-color: $light-secondary;
      }
    }
  }
}